@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row mt-3" id="enterRow">
        <form id="enterUserForm">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username" placeholder="Username">
            </div>
            <div class="form-group">
                <label for="selectedGroup">Select Group</label>
                <select class="form-control" id="selectedGroup">
                    <option>Gropu1</option>
                    <option>Gropu2</option>
                </select>
            </div> 
            <button type="submit" class="btn btn-success">Enter Group</button>
        </form>
    </div>
</div>


@section Scripts{ 
    <script src="~/js/microsoft/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/chat.js"></script>
}
